.axis {
  font: 10px sans-serif;
}

.axis text {
  /*   stroke:tomato;
  stroke-width : 1;   */
}

.axis path,
.axis line {
  fill: none;
  /*   stroke: tomato; */
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}